%h1 Contact Us

%h2 For Technical Assistance

%p For questions about how to use MetroBoston DataCommon or a particular data set, a MAPC staff person is available by phone during regular business hours (9 a.m. to 5 p.m.) for technical assistance.

%p
  Jessie Partidge
  Research Analyst
  Metropolitan Area Planning Council
  (617) 933-0726
  jpartridge@mapc.org

%p
  Susan Brunton
  GIS Analyst
  Metropolitan Area Planning Council
  (617) 933-0719
  sbrunton@mapc.org

%p
  Matt Cloyd
  Web Developer
  Metropolitan Area Planning Council
  (617) 933-0720
  mcloyd@mapc.org

%p For Background, Collaboration, or Affiliate Status Inquires:

%p
  Holly St.Clair
  Director, Data Services Director
  Metropolitan Area Planning Council
  (617) 933-0717
  hstclair@mapc.org

%p OR

%p
  Jessica Martin
  Director, Boston Indicators Project
  The Boston Foundation
  (617) 338-4392
  cbk@tbf.org

%p For Media Inquiries:

%p
  Ted McEnroe
  Director, Public Relations
  The Boston Foundation
  (617) 338- 3890
  david.trueblood@tbf.org

OR

%p
  Holly St.Clair
  Director, Data Services Director
  Metropolitan Area Planning Council
  (617) 933-0717
  hstclair@mapc.org
