%h1 Partners

%h3 Metropolitan Area Planning Council

%p
  The Metropolitan Area Planning Council (MAPC) is a regional planning agency serving the people who live and work in the 101 cities and towns of Metropolitan Boston. The Agency promotes smart growth and regional collaboration, and provides a range of analytical, planning, and mapping services to municipalities and community-based organizations in metropolitan Boston. To enhance the region's quality of life and economic competitiveness, MAPC led the creation of a 25-year plan, MetroFuture, a bold and achievable plan containing detailed goals for development and preservation, and specific strategies for the region to achieve its goals.

%h3 The Boston Indicators Project

%p
  The Boston Indicators Project is coordinated by The Boston Foundation in partnership with the City of Boston and the Metropolitan Area Planning Council (MAPC). Its goals are to democratize access to data and information, to foster informed public discourse and to track progress on shared civic goals. It measures and reports on change in Boston and the region in a national and global context in ten sectors through civic convenings, biennial reports, and a comprehensive, interactive website. The site also posts new research, links to other data-rich websites by sector and sponsors a Hub of Innovation and blog.

%h3 Supporting Organizations

%p
  The MetroBoston DataCommon is powered by WEAVE (Web-based Analysis and Visualization Environment), a high-performance open source data analysis and visualization platform free to all. WEAVE has been developed at the Institute for Visualization and Perception Research by faculty and students at the University of Massachusetts Lowell in partnership with the Open Indicators Consortium (OIC), a 15 member national collaborative of public and nonprofit organizations working to improve access to more and higher quality data. Governing OIC Members include:

%ul
  %li
    Metro Atlanta
    %ul
      %li Atlanta Community Foundation
      %li Atlanta United Way
      %li Atlanta Regional Commission
      %li Emory University
  %li
    Metro Boston/Massachusetts
    %ul
      %li Boston Indicators Project at the Boston Foundation
      %li Metropolitan Area Planning Council (MAPC)
      %li Massachusetts Department of Early Education and Care
  %li
    Metro Chicago
    %ul
      %li Chicago Metropolitan Planning Association (CMAP)
  %li
    Mid-Ohio
    %ul
      %li Community Research Partners
      %li Mid-Ohio Regional Planning Commission (MORPC)
  %li
    Metro Seattle
    %ul
      %li King County Department of Public Health
  %li
    Arizona
    %ul
    Arizona Indicators, managed by Morrison Institute for Public Policy with support from Arizona State %li University and the Arizona Community Foundation
  %li
    Connecticut
    %ul
    Connecticut Data Collaborative, managed by the %li Connecticut Economic Resource Center -DataHaven (New Haven)
  %li
    Rhode Island
    %ul
      %li The Rhode Island Department of Education
      %li Providence Plan

%p
  Massachusetts' Office of Geographic Information (MassGIS) is the Commonwealth's Office of Geographic Information, within the Information Technology Division (ITD) of the Administration and Finance Secretariat. It provides a comprehensive database of geospatial information, coordinates GIS activity within the Commonwealth, and sets standards for geographic data. The MassGIS website provides data for download and a web-based mapping application, OLIVER.

%p
  The Urban Information Systems group at Massachusetts Institute of Technology (MIT)'s Department of Urban Studies and Planning, in partnership with MAPC has developed technology for municipal data sharing, as well as collaborated on analysis of metro Boston’s transportation and land use patterns.

%p
  The default “Avatar” symbol used on the Profile pages is from The Noun Project collection.
