/ Heros
= render partial: 'institutions/dashboard/heros', object: @dashboard.heros, as: :heros

/ Site section explanations
= render partial: 'institutions/dashboard/explanations'
%hr

/ Featured visualization
= render partial: 'institutions/dashboard/featured'

/ Recent visualizations
= render partial: 'institutions/dashboard/recent_visualizations'