- content_for :featured do

  #carousel-dc.carousel.slide{data: {ride: "carousel", interval: 15000}}

    %ol.carousel-indicators
      %li.active{data: {target: "#carousel-dc", "slide-to" => "0"}}
      %li{       data: {target: "#carousel-dc", "slide-to" => "1"}}
      %li{       data: {target: "#carousel-dc", "slide-to" => "2"}}

    .carousel-inner
      = render partial: 'heros/hero', collection: @heros, as: :hero, locals: { first: @heros.first }
      
    %a.left.carousel-control{href: "#carousel-dc", role: "button", data: {slide: "prev"}}
      %span.glyphicon.glyphicon-chevron-left
    %a.right.carousel-control{href: "#carousel-dc", role: "button", data: {slide: "next"}}
      %span.glyphicon.glyphicon-chevron-right


.row
  .col-xs-10.col-xs-offset-1
    %h1 Featured Visualization
.row
  .col-md-7.col-md-offset-1.col-sm-12
    = render partial: 'visualizations/feature', locals: { feature: @feature }
  .col-md-3.col-md-offset-0.col-sm-8.col-sm-offset-2
    %h5.center Find Visualizations by Topic
    .list-group
      = render partial: 'topics/topic', collection: topics


.row
  .col-xs-12
    %h1 Recent Visualizations
  = render partial: 'visualizations/thumbnail', collection: recent_visualizations, as: :vis