- active_class = (hero == @heros.first) ? 'active' : ''
.hero.item{ class: active_class }
  %img{alt: hero.content, src: hero.image.url}
  .carousel-caption
    %h3= hero.title
    %h4= hero.subtitle
    %p=  hero.to_html
