.hero
  - active_class = (hero == @heros.first) ? 'active' : ''
  .item{ class: active_class }
    %img{alt: hero.content, src: hero.image.url}
    .carousel-caption
      %h3= hero.title
      %p=  hero.content
