-# - if hero == first
-#   .item.active
-#     %img{src: hero.image}
-#       .carousel-caption
-#         %h3=  hero.title
-#         %h4=  hero.subtitle
-#         %p=   hero.to_html.html_safe
-# - else
-#   .item
-#     %img{src: hero.image}
-#       .carousel-caption
-#         %h3=  hero.title
-#         %h4=  hero.subtitle
-#         %p=   hero.to_html.html_safe