%h1 Training Guides and Tutorials

%h2 How To: Tutorials

%h3 Adding your own municipal data (view PDF) (view .xls template)

VIDEO

%h2 Training

%h3 Step by Step Training Guide (view PDF)

%h3 User Case (view PDF)

%h2 Web Tutorials:

%h3 MetroBoston DataCommon Hands-On Trainings

MetroBoston DataCommon user trainings are held every month at the Metropolitan Area Planning Council in downtown Boston. Attendees include town planners, government employees, staff from non-profit organizations and private research organizations, and others. Participants receive an orientation to the various components of the MetroBoston DataCommon, and complete a hands-on tutorial of the data mapping and visualization tool to create their own customized maps.

During this two-hour session you will learn how to:

%li quickly access statistics about your city or town
%li conduct analyses with social and economic data
%li customize your own maps
%li save and print your maps

For more information and to register for a training, click here.

Click here to complete an evaluation of the MetroBoston DataCommon hands-on training
