%h1 User Profiles

These user profiles describe users of an earlier version of the MetroBoston DataCommon. Although some of the data and functions mentioned may have changed, they reflect the types of research and analysis possible with the DataCommon.

%hr 

.row
  .col-xs-2
    %img{src: 'http://metrobostondatacommon.org/site_media/user_profiles/czarina.jpg', width: 100}
  .col-sm-10.col-xs-12
    %h3 Czarina Biton, Regional Emergency Preparedness Coordinator

    %p March 9th, 2010 -- Czarina Biton is a public health professional committed to social justice and civic engagement. As Regional Emergency Preparedness Coordinator for Massachusetts Region 4b, she coordinates efforts among the twenty-seven municipalities in the region to make sure that they have the resources and support to plan for public health emergencies.

    %p Czarina finds, "The DataCommon is an innovative tool that addresses emergency preparedness questions with solutions. At the local public health level, mapping has helped me visualize and understand the assets of a community, and prioritize planning efforts to address areas of growth."

.row
  .col-xs-12

    %p To develop a basic profile of each of the communities in her region, Czarina uses the MetroBoston DataCommon's Community Snapshots which provide a map, graphs, and common statistics for each municipality.

    %p The DataMap Tool allows Czarina to tailor her analyses to fit her expert understanding of the problem and the needs of the region. It allows her to map hard-to-reach areas, such as those that have large non-English speaking populations, and to map the location of churches and community centers where outreach efforts can take place.

    %p Through these applications, the MetroBoston DataCommon helps Czarina help municipalities better prepare for emergencies and secure the health of the region.

%hr
.row
  .col-xs-2
    %img{src: 'http://metrobostondatacommon.org/site_media/user_profiles/jaymie_saks.jpg', width: 100}
  .col-sm-10.col-xs-12
    %h3 Jaymie Saks, Community Consulting Teams

    %p Q: How did you use the MetroBoston DataCommon?

    %p A: This spring, I volunteered with Community Consulting Teams (CCT). Founded in 1990, CCT is a volunteer organization that brings together business school graduates and non-profit organizations for the benefit of the greater Boston community. CCT has completed more than 100 pro bono management consulting projects for nonprofits in Greater Boston in the past 15 years.

.row
  .col-xs-12
    %p Our client was a local youth mentoring organization. Our team was seeking demographic information for the Greater Boston area, so that the organization could see the cities and towns with the greatest demand for youth mentoring, and the communities with the largest number of potential mentors (which tend to be single people without children). Using the DataCommon site, we were able to provide maps to the client demonstrating various criteria such as number of students on free /reduced-price lunch and percentage of single-parent families. MAPC Analyst Rob Goodspeed also helped me to find Census data showing percentage of never-married adults by town (for identifying sources of mentors).

    %p As we prepare the final presentation for our client, we will be creating overlayed maps that show them several different scenarios for focusing on communities that have the highest demand for their services, and those cities and towns which should be the focus of their recruiting efforts for mentors.

    %p Q: What is your favorite feature or data set?

    %p A: The ability to create color-coded maps quickly and easily. The free and reduced school lunches was a personal favorite!

    %p Q: How can we improve?

    %p A: I found the system complex at first. The user guides help, as did the training class, but I hope that you will continue to find ways to simplify the system to make it more intuitive.

%hr
.row
  .col-xs-2
    %img{src: 'http://metrobostondatacommon.org/site_media/user_profiles/john_fitterer.jpg', width: 100}
  .col-sm-10.col-xs-12
    %h3 John Fitterer, Nuestra Comunidad CDC

    %p
      %strong May 12, 2009
      #{" -- "} Boston's Roxbury and North Dorchester neighborhood has been hard hit by the foreclosure crisis. According to the Boston Department of Neighborhood Development, over 20 percent of all real estate transactions in Roxbury and Dorchester were foreclosures in 2006, compared to 2.8 percent citywide.

.row
  .col-xs-12

  %p
    "Our historical catchment area overlaps with some of the highest foreclosure areas in the city," explains John Fitterer, Nuestra Comunidad CDC's Director of Resource Development & External Affairs. "We're working in three different tiers of service in the community on this issue: we run a homeownership center with two full time foreclosure prevention counselors, we have community organizers working in the community, and are buying and redeveloping foreclosed properties."

  %p
    Fitterer says the DataCommon has been a crucial tool to study mortgage lending and explain the community to funders and supporters. "We have found the DataCommon's subrime lending data strongly correlates to where foreclosures are happening," Fitterer explains. "When we meet with funders we provide them with a map illustrating subprime lending patterns in the neighborhood, together with the location of mass transit lines, schools, and other facilities."

  %p
    Fitterer says the maps help explain why the community has struggled with disinvestment and the lack of services in the community. They are also beginning to explore the connections between lending and race and ethnicity, saying the group "considers the foreclosure crisis the next generation of redlining." Despite the long odds, their savvy use of data and proactive, hands-on approach is paying off. Among the 110 clients of the Foreclosure Prevention Program in 2007, 46 successfully avoided foreclosure.

%hr
.row
  .col-xs-12
  %h3 Jennifer Dobruck, Crittenton Women's Union

  %p April 14, 2009 -- Dedicated to moving low-income women and families out of poverty and into personal and economic independence, Boston's Crittenton Women's Union offers a range in programs in housing, education, workforce development, and life skills and family support. As the group's Associate Director of Research and Innovation, Jennifer Dobruck uses data to better understand the communities they serve and evaluate program success.

  %p After attending a training session, Dobruck turned to the DataCommon for economic, social, and demographic data. "We were applying for a Department of Justice grant for funding for one of our domestic violence transitional services," Dobruck says, "and the DataCommon helped us pull data about where the community was coming from. It really helped put the program and community in context for the funder in the federal government." The group's grant application included educational attainment, poverty, race and ethnicity, and demographic composition of the neighborhood where the program is located.

  %p In addition to using the DataCommon for neighborhood-level data, the Crittenton Women's Union is exploring other applications, such as using educational attainment data to plan outreach for their GED program, or using employment projections as part of their job training program. "There's so much more we could use this for," says Dobruck.


%hr
.row
  .col-xs-2
    %img{src: 'http://metrobostondatacommon.org/site_media/user_profiles/meg.jpg', width: 100}
  .col-sm-10.col-xs-12
    %h3 Meg Kiely, Chelsea Neighborhood Developers

    %p Oct. 29, 2008 -- When Federal Reserve bank officials announced a visit to Chelsea to see the local effects of the foreclosure crisis, the staff of a local nonprofit turned to the MetroBoston DataCommon to create a map illustrating where they were focusing their efforts
.row
  .col-xs-12

    %p Chelsea Neighborhood Developers (CND) Senior Project Manager Meg Kiely wanted to create a map to use for a neighborhood tour for Federal Reserve Governor Randall Krosner and Federal Reserve Bank of Boston President Eric Rosengren. The Federal Reserve officials wanted an on-the-ground understanding of how the foreclosure crisis was impacting neighborhoods and learn more about the group's work to prevent foreclosures. Using the DataMap Tool's aerial photography and drawing tools, Meg Kiely created a custom map to use for the visit. "It enabled us to show them the neighborhoods that where hardest hit, where we were focusing our efforts."

    %p A nonprofit community development corporation, Chelsea Neighborhood Developers builds affordable housing, fosters social capital in the community, provides financial literacy training, and engages residents in community-based revitalization. "We use data to identify need, respond to issues happening in the neighborhood, and for funding applications," Kiely said. In particular, their Housing and Community Development program uses data to target which neighborhoods are facing many foreclosures, and their Resident Asset Development program analyses local economic and ethnic patterns to customize their outreach.

    %p After using the tool to create the map, Kiely planned a DataCommon training for the entire staff. On October 1, the staff completed a hands-on training where they explored newly available subprime lending data. Kiely pointed out the MetroBoston DataCommon has many data sets available, but observes "people need to be encouraged to use it." To inquire about arranging a MetroBoston DataCommon training for your class, community organization or other group, please contact us.
