%h1.page-header Data Day 2013

%p
  Data Day took place on June 21 at Northeastern University. It brought together over 500 participants and online viewers from non-profits, media organizations, civic institutions and municipalities for a day of learning and data exploration. The focus of this year's Data Day was Data and Story Telling. Videos from the Ballroom sessions are available for viewing below.

%p
  This was our largest Data Day yet, and we had a great time learning from all of you. We hope you had fun and gained some new skills and networks to drive the work you do.

%p
  Help us make the next Data Day even better by
  %a{href:'http://www.surveymonkey.com/s/datadayboston2013'} taking our brief online survey.

%h3 Intro and Career Achievement Award to Charlotte Kahn

%p
  This year we honored Charlotte Kahn with the Data Day Career Achievement Award. Charlotte recently retired from her position of Project Director at the Boston Indicators Project, which she co-founded at the Boston Foundation in 1997. Charlotte has been involved in co-hosting Data Day since the first conference in 2005 and her impact has been profound.

%iframe{width: "600", height: "335", src: "http://www.youtube.com/embed/tTym-HFCY10", frameborder: "0", allowfullscreen: 'true'}

%h3 Keynote Panel Discussion - The Story Behind the Data, Boston Globe's 68 Blocks

%p
  In the Keynote Panel several journalists involved in the Boston Globe's 68 Blocks series on Dorchester's Bowdoin-Geneva neighborhood, as well as Father Doc Conway from St. Peter Parish discuss how quantitative and qualitative data, interviews, and first-person observation can be layered to tell a community's story, with Q & A. Panelists include:

%ul
  %li Steve Wilmsen, Senior Assistant Metro Editor, Boston Globe
  %li Meghan Irons, Reporter, Boston Globe
  %li Akilah Johnson, Reporter, Boston Globe
  %li Maria Cramer, Crime Reporter, Boston Globe
  %li Father Richard 'Doc' Conway, St. Peter Parish in the Bowdoin-Geneva neighborhood
  %li Chris Marstall, Creative Technologist, Boston Globe

%iframe{width: "600", height: "335", src: "http://www.youtube.com/embed/iD7DV7QgUaE", frameborder: "0", allowfullscreen: 'true'}

%h3 Use Data to Tell A Story

%p
  You have your data, now craft a story and get your message heard. The Globe reporters deconstruct a press story and the nuts and bolts of how they incorporated instagram, mapping and data to tell the story.

%ul
  %li Chris Marstall, Creative Technologist, Boston Globe
  %li Alvin Chang, Designer, Boston Globe
  %li Matthew Carroll, Reporter, Boston Globe

%iframe{width: "600", height: "335", src: "http://www.youtube.com/embed/A25FoMtaafA", frameborder: "0", allowfullscreen: 'true'}

%h3 Storming the Gates of City Hall and Corporate America: Open Data vs. Privacy and Community Change

%p
  How can researchers and community members collaborate more effectively to bring about positive neighborhood change? Panel discussion with researchers and activists to discuss how governments and corporations use data about your community and how community-based groups can harness the power of “big data”.

%ul
  %li Michael Johnson, URBAN.Boston, UMass Boston
  %li David Luberoff, Boston Area Research Initiative (BARI), Harvard University
  %li Dr. Latanya Sweeney, Data Privacy Lab, Harvard University

%iframe{width: "600", height: "335", src: "http://www.youtube.com/embed/h8C2WGNYSgA", frameborder: "0", allowfullscreen: 'true'}

%h3 About Data Day

%p
  Data Day is a free day-long conference aimed at helping non-profits, media organizations, civic institutions and municipalities expand their capacity to use technology and data in innovative ways to advance community and organizational goals. Geared for data users at all levels, participants will choose from a number of interactive workshops on tools and techniques for exploring trends, crafting data-driven stories and spurring community change. The day will provide an excellent professional development opportunity for organizations looking to get the most from their existing resources and staff.

%p
  Curry Student Center, Northeastern University Friday, June 21st, 2013

%ul.none
  %li 
    %a{href: 'http://metrobostondatacommon.org/site_media/uploads/DataDay2013_AttendeePacket.pdf'} Data Day 2013 Digital Attendee Packet
  %li 
    %a{href: 'http://metrobostondatacommon.org/site_media/uploads/handouts_all_3.pdf'} View all workshop handouts
  %li 
    %a{href: 'http://metrobostondatacommon.org/site_media/uploads/SpeakerBios.pdf'} View presenter bios
  %li 
    %a{href: 'http://metrobostondatacommon.org/site_media/uploads/DataDay2013_InfoPacket.pdf'} View more infomation about Data Day sponsors and supporters