%h3
  = succeed '!' do
    Hi,
    = @user.name

%p Welcome to the DataCommon. Visit the link below to activate your account:

%p= link_to "Activate your account", edit_account_activation_url(@user.activation_token, email: @user.email)