%h1 "#{params[:search]}"
%h2.page-header Search Results

%h3 Data
= render @results.layers

%br
%br

%h3 Visualizations
= render @results.visualizations

%br
%br

%h3 Maps
= render @results.static_maps



-#= paginate @results