%h1.page-header Other Data Visualization and Mapping Resources

A wide range of websites provide access to data and visualization and mapping tools. This section describes some resources which may be useful for DataCommon users, with an emphasis on free or low-cost resources. The list does not imply endorsement, and we are always interested in suggestions for links to include.

Most of the data available through the DataMap tool are available from the original data sources. Links to the data sources can be found on the dataset information page.
Boston and Massachusetts Data Sources

These websites feature information specific to Massachusetts, however many national data sources listed below also include local information.

%br
%br

%ul
  %li
    %a{href: 'https://mrmapper.mrpc.org/'} MrMapper: Montachusett Region Web Mapping Site
    %p MRMapper is a web mapping (or web GIS (Geographic Information Systems)) tool designed to aid in the decision making process-as most services that a municipality provides are concerned, at least in part, with geographic location.
  %li
    %a{href: 'http://www.mass.gov/anf/research-and-tech/it-serv-and-support/application-serv/office-of-geographic-information-massgis/'} MassGIS Online Mapping Tools
    %p Create maps with MassGIS's vast database of spatial information using their online tools OLIVER and others.
  %li
    %a{href: 'http://www.boston.com/news/specials/government_center/'} Boston.com Massachusetts Facts
    %p The Boston Globe's directory of public records, databases, mapping, and other useful information.
  %li
    %a{href: 'http://www.mass.gov/portal/government-taxes/open/open-data.html'} Massachusetts Open Data Initiative
    %p The Massachusetts Open Data Initiative provides a directory of data available from state agencies.
  %li
    %a{href: 'http://www.bostonredevelopmentauthority.org/'} Boston Redevelopment Authority
    %p Access information about active planning and development projects, research reports, and map Census 2010 data using the myNeighborhood Census Viewer.
  %li
    %a{href: 'http://www.massculturalcouncil.org/services/artistspace.asp'} ArtsLink Art Space Finder
    %p Search for or advertise available artist studios, work spaces, galleries, or rehearsal space in Massachusetts.
  %li
    %a{href: 'http://www.everyblock.com/hi-neighbor'} EveryBlock Boston
    %p Combines government information including as building permits, business licenses, restaurant inspections, with other sources such as blog posts, photos, and real estate listings

%h3 National Data Sources

These resources, which contain nationwide information, frequently provide useful information at the local level and allow users to evaluate Massachusetts in a broader context.

%br
%br

%ul
  %li
    %a{href: 'http://factfinder2.census.gov/faces/nav/jsf/pages/index.xhtml'} American FactFinder
    %p Find and download housing, economic, and geographic data from the U.S. Census Bureau.
  %li
    %a{href: 'http://www.data.gov/'} Data.gov
    %p A directory of raw tabular and geographic data produced by Federal agencies.
  %li
    %a{href: 'http://cityforward.org/static_content/specialmessage.html'} IBM City Forward
    %p Find and visualize data from a variety of cities worldwide.
  %li
    %a{href: 'http://data.newyorkfed.org/creditconditionsmap/'} New York Federal Reserve Bank Credit Conditions Map
    %p Map credit card and mortgage lending delinquency data nationwide.
  %li
    %a{href: 'http://projects.nytimes.com/census/2010/map?view=PopChangeView&lat=42.330885&lng=-71.066093&l=13'} New York Times: Mapping the 2010 U.S. Census
    and
    %a{href: 'http://projects.nytimes.com/census/2010/explorer?ref=us'} Mapping America
    %p Interactive maps to explore U.S. Census Bureau’s 2005-2009 American Community Survey, and change between the 2000 and 2010 Census.
  %li
    %a{href: 'http://projects.nytimes.com/census/2010/explorer?ref=us'} Opportunity Index
    %p View selected data about economy, education, and community vitality for counties and states nationwide.
  %li
    %a{href: 'http://www.policymap.com/'} PolicyMap
    %p A mapping and data website presenting a variety of demographic, housing, education, and economic information for local policy and planning.
  %li
    %a{href: 'http://egis.hud.gov/'} U.S. Department of Housing and Urban Development GIS Portal
    %p Access a a variety of housing and policy related data.
  %li
    %a{href: 'http://www.walkscore.com/'} WalkScore – Measure the walkability of any address in the U.S.

%h3 Visualization & Mapping

Desktop spreadsheet software can produce useful visualizations, but these websites make it easy to create sophisticated mapping and visualizations by uploading data to a website, or downloading free software.
Websites

%br
%br

%ul
  %li
    %a{href: 'https://support.google.com/fusiontables/answer/2571232'} Google Fusion Tables
    %p Upload and visualize your data.
  %li
    %a{href: 'http://geocommons.com/'} GeoCommons
    %p Upload and map spatial data.
  %li
    %a{href: 'http://www-958.ibm.com/software/data/cognos/manyeyes/'} IBM Many Eyes
    %p Upload and visualize data including charts, graphs, word trees, and treemaps.
  %li
    %a{href: 'http://indiemapper.com/'} IndieMapper
    %p Upload and map spatial data, requires a monthly fee.

%h3 Software

%br
%br

%ul
  %li
    %a{href: 'http://www.qgis.org/en/site/'} Quantum GIS
    %p A free, open-source alternative to commercial mapping software.
  %li
    %a{href: 'http://geodacenter.asu.edu/'} GeoDa
    %p Free software for exploratory data analysis and spatial statistics.
  %li
    %a{href: 'http://www.tableausoftware.com/public/'} Tableau Public
    %p Free data visualization software for charts, graphs, maps, and publish to the web.

%h3 World Data Sources

%br
%br

%ul
  %li
    %a{href: 'http://www.openstreetmap.org/#map=4/38.01/-95.84'} OpenStreetMap
    %p The Wikipedia of map data.
  %li
    %a{href: 'http://www.gapminder.org/'} GapMinder
    %p Access and visualize country-level data on education, economy, health, and crime.

%h3 Open Indicators Consortium

Many of the visualizations on the MetroBoston Data are powered by WEAVE, software created by the Open Indicators Consortium for the express purpose of sharing data relevant for policy and planning. The Partners page contains a complete list of the governing members, but this list features those which have websites providing access to indicators data and visualizations.

%br
%br

%ul
  %li
    %a{href: 'http://www.cmap.illinois.gov/data/metropulse'} MetroPulse Chicago
    %p Visualize and download key indicators about Metro Chicago
  %li
    %a{href: 'http://centralohioindicators.org/site/indicators/indicators.html'} Central Ohio Indicators
    %p Indicators and research about Central Ohio.
  %li
    %a{href: 'http://openindicators.morpc.org/'} Mid-Ohio Regional Planning Commission WEAVE Demonstration
    %p Demonstration website using the WEAVE technology.
  %li
    %a{href: 'http://arizonaindicators.org/'} Arizona Indicators
    %p Find visualizations and data about the state of Arizona.
  %li
    %a{href: 'http://ctdata.org/'} Connecticut Data Collaborative
    %p Access policy-relevant information about Connecticut.

