%h1.page-header Training Guides and Tutorials

%h3 How To: Tutorials

%h4 Adding your own municipal data
%p Add your own data to the 
%ul
  %li
    %a{href: 'http://metrobostondatacommon.org/site_media/uploads/Adding_your_own_Municipal_level_data_into_Weave_2014.pdf'}
      PDF Instructions
  %li 
    %a{href: 'http://metrobostondatacommon.org/site_media/uploads/MA_Municipalities.xls'}
      Excel (.xls) template


%h3 Training

%h4 Step by Step Training Guide

%p
  Whether you are a data novice or expert researcher, the MetroBoston DataCommon can help you get the information you need on your community, understand regional trends, and make more informed decisions. In this training, we will cover the basics of the DataCommon.
  %a{href: 'http://metrobostondatacommon.org/site_media/uploads/DataCommonTraining2014.pdf'} View the PDF tutorial.

%h4 Use Case Walkthrough: Transportation Planning

%p
  %strong The premise:
  You work for a regional planning agency in the Metro Boston area that needs to learn more about commuting patterns in the region.
  %strong Your charge:
  Determine which muncipalities have access to transit, and which must rely on automobiles. You decide to use the MetroBoston DataCommon to do your analysis.
  %a{href: 'http://metrobostondatacommon.org/site_media/uploads/UserCase_Means__Cost_of_Transp_to_Work.pdf'} Let's get to work! View the PDF tutorial.

%h3 Web Tutorials

%h4 Creating a map on the MetroBoston DataCommon

%iframe{:allowscriptaccess => "always", :allowFullScreen => "true", :frameborder => "0", :height => "430", :src => "http://www.youtube.com/embed/Q8E10dy1hR4", :width => "640"}



%h3 MetroBoston DataCommon Hands-On Trainings

%p
  MetroBoston DataCommon user trainings are held every month at the Metropolitan Area Planning Council in downtown Boston. Attendees include town planners, government employees, staff from non-profit organizations and private research organizations, and others. Participants receive an orientation to the various components of the MetroBoston DataCommon, and complete a hands-on tutorial of the data mapping and visualization tool to create their own customized maps.

%p
  During this two-hour session you will learn how to:

%ul 
  %li find statistics about your city or town
  %li conduct analyses with social and economic data
  %li customize your own maps
  %li save and print your maps

%h4 Register

%p
  For more information and to register for a training,
  %a{href: 'http://www.eventbrite.com/o/mapc-610093971'} view the MAPC Eventbrite page.

%h4 Evaluate

%p
  Have you attended a DataCommon training?
  %a{href: 'http://www.surveymonkey.com/s/K8YXC5S'} Please fill out our evaluation survey.
