%h1.page-header Contact Us

%h3 For Technical Assistance

%p For questions about how to use MetroBoston DataCommon or a particular data set, a MAPC staff person is available by phone during regular business hours (9 a.m. to 5 p.m.) for technical assistance.

%ul.contact
  %li Jessie Partidge
  %li Research Analyst
  %li Metropolitan Area Planning Council
  %li
    %a{href: 'tel:6179330726'} (617) 933-0726
  %li
    %a{href: 'mailto:jpartridge@mapc.org'} jpartridge@mapc.org

%ul.contact
  %li Susan Brunton
  %li GIS Analyst
  %li Metropolitan Area Planning Council
  %li
    %a{href: 'tel:6179330719'} (617) 933-0719
  %li
    %a{href: 'mailto:sbrunton@mapc.org'} sbrunton@mapc.org

%ul.contact
  %li Matt Cloyd
  %li Web Developer
  %li Metropolitan Area Planning Council
  %li
    %a{href: 'tel:6179330720'} (617) 933-0720
  %li
    %a{href: 'mailto:mcloyd@mapc.org'} mcloyd@mapc.org

%h3 For Background, Collaboration, or Affiliate Status Inquires:

%ul.contact
  %li Holly St. Clair
  %li Director, Data Services Director
  %li Metropolitan Area Planning Council
  %li
    %a{href: 'tel:6179330717'} (617) 933-0717
  %li
    %a{href: 'mailto:hstclair@mapc.org'} hstclair@mapc.org

%ul.contact
  %li Jessica Martin
  %li Director, Boston Indicators Project
  %li The Boston Foundation
  %li
    %a{href: 'tel:6173384392'} (617) 338-4392
  %li
    %a{href: 'mailto:cbk@tbf.org'} cbk@tbf.org

%h3 For Media Inquiries:

%ul.contact
  %li Ted McEnroe
  %li Director, Public Relations
  %li The Boston Foundation
  %li
    %a{href: 'tel:6173383890'} (617) 338-3890
  %li
    %a{href: 'mailto:david.trueblood@tbf.org'} david.trueblood@tbf.org

%ul.contact
  %li Holly St.Clair
  %li Director, Data Services Director
  %li Metropolitan Area Planning Council
  %li
    %a{href: 'tel:6179330717'} (617) 933-0717
  %li
    %a{href: 'mailto:hstclair@mapc.org'} hstclair@mapc.org
