
%h1 Frequently Asked Questions (FAQs)

%h3 General

%li How did you build MetroBoston DataCommon?
%li How do I cite the MetroBoston DataCommon?
%li Can my office get trained on the MetroBoston DataCommon?
%li How is the MetroBoston DataCommon funded?

%h3 Data

%li Where do you get your data and how often is it updated?
%li How can I create my own visualizations?
%li Why don’t you have data on a specific topic?
%li Can I contribute a dataset?
%li Can I download raw data from the MetroBoston DataCommon?
%li Where can I find neighborhood level data?
%li I am unable to see my data on the map, what did I do wrong?
%li Are projections available on the MetroBoston DataCommon?
%li Does the MetroBoston DataCommon have historical data?
%li Why am I unable to download certain datasets?

%h3 Technical Questions

%li Which web browsers work for the MetroBoston DataCommon?
%li I encountered an error message, what should I do?
%li Do you support APIs or Widgets?
%li I don't see any visualizations

%h1 General

%h4 How did you build the MetroBoston DataCommon?

%p The MetroBoston DataCommon website was developed by staff at the Metropolitan Area Planning Council and the Boston Indicators Project at the Boston Foundation. The site was built by Metropolitan Area Planning Council staff using open-source technology and publically available data. The content management system and community section is powered by Django. Data visualizations are rendered by WEAVE and OpenLayers. Data are stored in a PostGIS database.
How do I cite the DataCommon?

%p Data and/or maps obtained through this website should be cited when used in an article, paper, report, or other work. The precise citation format will vary according to the style used. All major citation styles require users cite not only the original data creator, but also any databases or intermediaries used, such as the DataCommon. Since this website is a free service, citations are an important way to promote the website and demonstrate its value to our funders. In general, a citation should include the following items for each dataset used:

%li Dataset name and date
%li Dataset source or creator
%li The text "Provided by the MetroBoston DataCommon"
%li The MetroBoston DataCommon URL, www.metrobostondatacommon.org
%li The date accessed

Please contact us with any questions about citing this website.
Can my office get trained on the MetroBoston DataCommon?

Yes, large-group trainings for mission-driven organizations can be arranged by contacting us. Hands-on trainings are offered monthly on a first-come, first-serve basis.
How is the MetroBoston DataCommon funded?

Operations of the MetroBoston DataCommon are funded by the Metropolitan Area Planning Council (MAPC), which is supported by municipal, state, federal and private grants and contracts and a per-capita assessment charged to municipalities in the MAPC region. In addition, the project is made possible by its partnership with the Boston Indicators Project at the Boston Foundation, the Open Indicators Consortium and a variety of other partners.
Data
Where do you get your data and how often is it updated?

The MetroBoston DataCommon contains data from a range of government and nongovernmental sources. The source of each dataset is labeled. Datasets are updated given resource availability and the availability of updates. In many cases, supplementary information, additional detail, and the most updated data are available directly from these sources for in-depth research and analysis.
How can I create my own visualizations?

MetroBoston DataCommon users can create their own visualizations in the "Do It Yourself" section, or by downloading the data and using tools listed in the resources section.
Why don’t you have data on a specific topic?

Our goal is to make available a wide range of data about Metro Boston and its 101 cities and towns. However data are not always available for many important topics. If you have a suggestion for a dataset to include, or a question about additional resources on a specific topic, please contact us.
Can I contribute a dataset?

Yes, we are interested in user-contributed data. Please contact us to discuss the dataset topic and format.
Can I download raw data from the MetroBoston DataCommon?

Yes. Specific instructions coming soon.
Where can I find neighborhood-level data?

Many datasets feature neighborhood-level detail including parcels and detailed geographic information. Community Snapshots for Boston neighborhoods will be available in the Spring.
I am unable to see my data on the map, what did I do wrong?

Please contact us for technical support. More details coming soon.
Are projections available on the MetroBoston DataCommon?

As data is loaded the projection ID is specified. When creating a map visualization there is an option within the Settings for MapTool (ie. the wrench in the top left corner of the map) under the Advanced tab to select which projection to use for the map. Data loaded by MAPC has the projection ID: 26986 which is Massachusetts State Plane meters.
Does the MetroBoston DataCommon have historical data?

Yes, the MetroBoston DataCommon contains historical aerial imagery, as well as historical demographic data in the GeoLytics layer.
Why am I unable to download certain datasets?

Downloading is not available for some datasets that are restricted by licensing agreements (e.g., Geolytics) or are too large to support downloading (some MassGIS layers). Users interested in these layers can contact us for more information or the sources.
Technical Questions
Which web browsers work for the DataCommon?

The DataCommon is designed to work with most modern browsers that support web standards. For compatibility and security purposes we encourage all visitors to update their browsers to latest versions. Contact us with specific questions or problem.
I encountered an error message, what should I do?

Users who encounter an error message should try the function or operation again. If the error persists, please submit a report with a summary of the browser software type and version, and time and nature of error message.
Do you support APIs or Widgets?

These features are under development, contact us if you are interested in being a beta tester.
I don't see any visualizations

This is usually cause by your flash plugin not being up to date (or missing) or because of outdated files in your local browser cache which need to be cleared. Each browser (and possibly version) has different settings, so you may need to look it up.

Firefox:

Updating Flash: https://www.mozilla.org/en-US/plugincheck/

Clear Cache:
a. At the top of the window, click on the Firefox button (Tools in Windows 7/ XP ) and then click Options
b. Select the Advanced panel.
c. Click on the Network tab.
d. In the Cached Web Content section, click Clear Now.

Internet Explorer (9 and higher)

Updating Flash: Click the Tools button, and then click Manage add-ons. Update as necessary.

Clear Cache:
a. Select Tools > Safety > Delete browsing history....
OR
While in your browser, press CTRL+SHIFT+DEL.
b. Select the cache/ Temporary Internet Files to delete.
