%h1 Tools on Our Site


%h3 Explore Data

%p Contains a comprehensive listing of data visualizations available on the MetroBoston DataCommon.


%h3 Snapshots and Profiles

%p A Community Snapshots are a quick and easy way to access basic information about a city or town. The Snapshots pull together a wide range of data on each municipality, and are a great place to start investigating what data we have available. Data for communities outside of the MAPC region is available in the Do-It-Yourself tool.


%h3 Do-It-Yourself

%p Includes tools to create custom maps and visualizations.


%h3 Resources

%p Contains profiles of data common users, as well as links to additional data and visualization resources on the web.


%h3 Learning Community

%p Connect with other users, discuss data and visualizations, and learn about training events and conferences.
