%h1.page-header Sign Up
%p Create a new account.
%p.center
  %strong User accounts created in Beta are not secure, and may not carry over to the final release.
%p.center
  %strong Do not use passwords here that you use for any other accounts.
%br

= render partial: 'form', locals: { button: 'Sign up' }