- if object.errors.any?
  #error_explanation
    .alert.alert-danger
      %ul
        %li
          The form has
          = succeed '.' do
            = pluralize(object.errors.count, "error")
        - object.errors.full_messages.each do |msg|
          %li= msg