- if flash
  - flash.delete :html_safe
  - flash.each do |key, value|
    %div{class: "alert alert-#{key}"}
      %a.removable.left
        %span.glyphicon.glyphicon-remove
      = value

:javascript

  $(document).on('ready', function () {
    $( document ).on('click', '.removable', function() {

      if (window.cancel_timeout) {
        clearTimeout(window.cancel_timeout);
      }
      $( this ).parent().slideUp();
    });

  });
