- if flash
  - flash.each do |key, value|
    %div{class: "alert alert-#{key}"}
      %a.removable.left
        %span.glyphicon.glyphicon-remove
      = value

:javascript

  $(document).on('ready', function () {
    $( document ).on('click', '.removable', function() {
      $( this ).parent().slideUp();
    });

  });
