%script{type: "text/javascript", src: "http://metrobostondatacommon.org/media/swfobject/swfobject.js"}

%div
  %h3= feature.title
  %img.feature#vis-2646{src: feature.gallery_image_path}

:javascript

  /*
  * Global MBDC object
  */
  var MBDC = {
    weave_url: "//metrobostondatacommon.org/weave/",
    sessionstate: {},
    swfobject: {
      vis: {}
    }
  }

    // general Flash parameters
  MBDC.swfobject.params = {
    quality:           "high",
    bgcolor:           "#ffffff",
    allowscriptaccess: "always",
    base:              "http://metrobostondatacommon.org/weave/",
    wmode:             "gpu"
  };

    
  // Weave API availability flag
  MBDC.weaveAPI = false;

  // called when Weave JavaScript API is ready
  var weaveReady = function(weave) { 
    MBDC.weaveAPI = true;

    console.log("weave >>");
    console.dir(weave);
    console.log("sessionstate >>");
    console.dir(#{feature.sessionstate});
    
    weave.setSessionState([], #{feature.sessionstate});
    weave.setSessionState(["WeaveProperties"], {
      backgroundColor: "16777215",
      showCopyright:    false
    });
  }

  jQuery(document).ready(function($) {

    // FlashVars and attributes
    MBDC.swfobject.vis["vis-2646"] = {
      flashvars: {
        allowDomain: "*"
      },
      attributes: {
        id:   "vis-2646",
        name: "vis-2646"
      }
    };

    // URL to POST to when updating
    MBDC.visembedurl = MBDC.visurl = "/visualizations/2646/";
    MBDC.visid = "2646";  

    $('#vis-2646').on('click', function () {
      // add Weave Flash object
    swfobject.embedSWF(
      "http://metrobostondatacommon.org/weave/weave.swf", // URL of flash script
      "vis-2646",                                         // id to populate with Flash
      "100%", "540",                                      // dimensions of SWF
      "10.0.0",                                           // version
      "expressInstall.swf",                               // express install URL 
      MBDC.swfobject.vis["vis-2646"].flashvars,           // TODO: is this nothing? when is this used?
      MBDC.swfobject.params,                              // general Flash params (settings)
      MBDC.swfobject.vis["vis-2646"].attributes,          // TODO: Not sure these are used.
      function () {
        console.log('swfobject.embedSWF finished');
      }
    );
    });
    
  });