%div
  %h3= feature.title
  %img.feature{id: "vis-#{vis.id}", src: feature.gallery_image_path}

:javascript

  $(document).on('ready', function () {
    DC.embedWeaveOnClick("#vis-#{vis.id}", #{vis.sessionstate});
  });
  