%div
  %h3= link_to feature.title, feature
  %img.feature{id: "vis-#{feature.id}", src: feature.gallery_image_path}

:javascript

  $(document).on('ready', function () {
    DC.synchEmbedWeaveOnClick("#vis-#{feature.id}", #{feature.sessionstate});
  });
  