%img.snapshot-vis{id: "vis-#{vis.id}", src: "http://unsplash.it/400/400?random"}

:javascript

  $(document).on('ready', function () {
    DC.embedWeaveOnClick("#vis-#{vis.id}", '#{@s.geography_slug}', '#{@s.area_type_name.pluralize}');
  });