.col-md-3.col-sm-6.col-xs-12.vis-preview
  =link_to vis do
    = image_tag vis.image.url(:gallery), alt: vis.title
    - if vis.private?
      %span.badge Private
    %p.vis-title= vis.title
  %p.byline
    by
    = link_to vis.owner, vis.owner