%h1.page-header Edit "#{ @visualization }"

= render partial: 'form', locals: { button: 'Update' }

:javascript

  $(document).on('ready', function () {
    embed_immediately( "##{@visualization.id}" );
  });