%h1 Visualization Gallery
%h2.page-header Explore maps and data visualizations created by DataCommon users.

%p.viewing
  You are viewing
  =select_tag :topic, options_for_select(topic_options, visualizations_path(topic: @gallery.topic)), include_blank: true, id: 'topic-select', class: 'chosen-select', data: { placeholder: "All Topics" }
  and
  =select_tag :data_source, options_for_select(data_source_options), include_blank: true, id: 'data-source-select', class: 'chosen-select', data: { placeholder: "All Data Sources" }
  #{'.'}

.row
  = render partial: 'preview', collection: @gallery.visualizations[0..3], as: :vis

.row
  = render partial: 'preview', collection: @gallery.visualizations[4..7], as: :vis

.row.center
  = paginate @gallery.visualizations, window: 1, outer_window: 1


:javascript
  $('#topic-select').on('change', function () {
    var url = $( this ).val(); // get selected value
    if (url) { // require a URL
      window.location = url; // redirect
    }
    return false;
  });