%h1 Visualization Gallery
%h2.page-header Explore maps and data visualizations created by DataCommon users.

%p You are viewing All Topics and All Data Sources

.row
  = render partial: 'preview', collection: @visualizations[0..3], as: :vis

.row
  = render partial: 'preview', collection: @visualizations[4..7], as: :vis

.row.center
  = paginate @visualizations, window: 1, outer_window: 2