.row.the-row {
  margin-top: 80px;
}

.featured-text {
  background:     rgba(0,0,0,0.5);
  padding-top:    20px;
  padding-bottom: 30px;
}

img.feature {
  width:  100%;
  height: auto;
  padding-bottom: 10px;
}

// FEATURED VISUALIZATION //
div.col-xs-10.col-xs-offset-1 {
  width: 1170px;
  margin: 0px
}

div.col-md-7.col-md-offset-1.col-sm-12 {
  margin: 0px;
}
