/*

    Featured visualization

      Visualization on the main page

      Difficult to get right: tradeoff between a responsive image
      and a properly-sized visualization.

*/

.row.the-row {
  margin-top: 80px;
}

.featured-text {
  background:     rgba(0,0,0,0.5);
  padding-top:    20px;
  padding-bottom: 30px;
}

.feature img {
   width: 100%;
   max-width: 640px;
   max-height: 475px;
   height: auto;
   padding-bottom: 10px;
 }

 .feature object {
   width: 100%;
   max-width: 640px;
   max-height: 475px;
   height: 475px;
   padding-bottom: 10px;
 }