/*


    Hero

    - large image
    - content
    - responsive text arrangement


*/

@import "global/colors";
@import "global/sizes";

.featured {

  h2    { 
    font-size: 300%;
    // background-color: rgba(0, 0, 0, 0.5);
    // box-shadow: 0px 0px 25px rgba(0, 0, 0, 1);
    padding: 0 50px;
    padding-top: 65px;

    @media (max-width: 417px) {
      font-size: 250%;
      margin-top: -50px !important;
    }
    @media (min-width: 418px) and (max-width: 555px) {
      padding: 0 60px;
    }
    @media (max-width: $screen-md) {
      margin-top: 0px;
    }
  }

  p.top { 
    font-size: 120%;
    max-width: 700px;
    text-align: left;
    position: relative;
    margin: 0 auto;
    display: block;

    // background-color: rgba(0, 0, 0, 0.5);
    // box-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
    padding: 0 40px;
  }

  display: block;
  margin-top: -20px;
  
  color: #EEEEEE;
  a { 
    color: #EEEEEE;
    &:hover, &:visited {
      color: #FFFFFF;
    }
  }

  .explanation {
    a {
      color: $dc-blue;
      &:hover, &:visited {
        color: $dc-blue;
      }
    }
  }
  text-align: center;
  text-shadow: 3px 0px 0px #000000;
  text-shadow: 1px 1px 1px #000000;
  
  max-height: 300px;

  @media (max-width: $screen-sm) {
    max-height: 375px;
  }
  @media (max-width: $screen-md) {
    max-height: 350px;
  }

  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size:    cover;
  -o-background-size:      cover;
  background-size:         cover;
  background-image: image-url("heros/1.jpg");
  // 601 603 617 670
}
