%h1 Data Day 2012

Curry Student Center, Northeastern University
Friday, January 27th, 2012

%h2 About Data Day

More data are available today than ever before. In addition, new tools are making it easier to explore trends, craft powerful stories, and spur change. Learn how to access information, meet colleagues from across sectors, and get inspired to apply data to your work, all for free at Data Day 2012!

Data Day 2012 is a free day-long conference aimed at helping non-profits, media organizations, civic institutions and municipalities expand their capacity to use technology and data in innovative ways to advance community and organizational goals. Geared for data users at all levels, participants will choose from a number of interactive workshops on tools and techniques for exploring trends, crafting data-driven stories and spurring community change.

The day will provide an excellent professional development opportunity for organizations looking to get the most from their existing resources and staff.

%h2 2012 Agenda

MORNING WORKSHOPS (Sessions run concurrently)

Workshop categories: Category 1 – Basic data methods, tools, and technology skills Category 2 – Topic-specific workshops * Category 3 – Technical discussions of emerging issues and technologies

(Please attend the workshop you pre-registered for or check with staff about capacity in other sessions.)
Using Indicators to Drive Community Change (W1, Category 1)

How data can be used to drive and track community change.

%li Jamila Henderson, MAPC Data Services Department (view online) (view PDF)
%li Charlotte Kahn, The Boston Indicators Project at the Boston Foundation (view online) (view PDF)
%li Jim Farnam, Founder of DataHaven and Principal, Farnam Associates


Introduction to Data Mapping (Computer Lab) (W2, Category 1)

An introduction to data mapping concepts and techniques, including Geographic Information Systems (GIS).

%li Barry Fradkin, MAPC Data Services Department (view online) (view PDF)

Introduction to the U.S. Census and Simple Reports (Computer Lab) (W3, Category 1)

Learn about the wealth of data in the U.S. Census and how to quickly find facts and figures on the Census Bureau website: American FactFinder and The Boston Redevelopment Authority's MyNeighborhood Census Viewer.

%li Arthur Bakis, U.S. Census Bureau (view online) (view PDF) (view handout)
%li Mark Melnik, Boston Redevelopment Authority (view handout)

Introduction to Survey Data Collection (W4, Category 1)

Learn the basics about how to design and implement a survey to collect data for your project or organization.

%li Anthony Roman, Center for Survey Research, UMass Boston (view online) (view PDF) (view handout)

Tools for Collecting Neighborhood Data and Building Community (Computer Lab) (W5, Category 2)

Explore new on-line tools and applications for collecting data and community building in your neighborhood.

%li Christian Spanring, MAPC Data Services Department
%li Rob Goodspeed, MIT Department of Urban Studies and Planning (view PDF) (view handout)

Data Storytelling (Computer Lab) (W6, Level 2)

You have your data, now craft a story and get your message heard.

%li Jim Lucht, Providence Plan (view online) (view PDF)
%li Gia Barboza, Northeastern University, Department of African American Studies (view online) (view PDF)

Public Data Mapping in Massachusetts: Opportunities for Collaboration (W7, Category 3) (view handout)

Government agencies and universities showcase their mapping websites. Join the discussion on lessons learned, best practices, and potential opportunities to collaborate. (Category 3)

%li Susan Brunton, MAPC (Moderator)
%li Aleda Freeman, MassGIS (view online) (view PDF)
%li David Kimball, Department of Conservation and Recreation (view online) (view PDF)
%li Kevin Robicheau and Dan Koch, Department of Fish and Game
%li Patrick Florance and Chris Barnet, GeoData@Tufts University
%li Claire Lane, City of Boston

The Role of Data in the MBTA Fare Increase Discussion (W8, Category 2)

How to use data to influence the MBTA's proposed fare increases and service cuts. (Category 2)

%li Stephanie Pollack, Associate Director, Dukakis Center for Urban & Regional Policy, Northeastern University (view online) (view PDF) (view handout)


LUNCH AND DATA FARMER'S MARKET

Box lunches (if pre-purchased) available outside ballroom on Mezzanine Level. Other lunch options listed in folder. Poster exhibits open for viewing.
Data Farmer’s Market (view handout)

Harvest local knowledge from experts in the fields of demography, housing, transportation, technology, community development, education, public health, zoning and land use, and environment and energy during this networking opportunity.
INTRODUCTION TO METROBOSTON DATACOMMON 2.0 AND WEAVE VISUALIZATION SOFTWARE 1:30-3:15 (view handout)

The MetroBoston DataCommon has been our region's go-to data viewer and web mapper since 2007. At Data Day, MAPC and the Boston Foundation will officially launch the DataCommon 2.0, completely redesigned with all-new Community Profiles, an easier-than-ever map interface, and a powerful new data visualization tool known as WEAVE. Create by UMass Lowell and the National Open Indicators Consortium, WEAVE will help users at all levels to analyze large datasets and visualize the results to guide your work and influence public policy. Join us for the worldwide launch of this powerful new tool and find out how it can help you better understand your neighborhood and drive community change!


DATA DAY AWARDS (view handout)


AFTERNOON WORKSHOPS (Sessions run concurrently)
Open Source Software and Collaborative Learning Communities (W9, Category 3)

A discussion about open-source development collaborations, “civic apps,” and the Open Indicators Consortium. (Category 3)

%li Holly St. Clair, Metropolitan Area Planning Council (Moderator)
%li Jim Farnam, Founder of DataHaven and Principal, Farnam Associates
%li George Grinstein, UMass Lowell
%li Nick Grossman, Civic Commons
%li Christian Spanring, Metropolitan Area Planning Council


A Journey Through the Boston Indicators Project Website (Computer Lab) (W10, Category 1)

Learn to track change in Boston and Greater Boston.

%li Jessica Martin, The Boston Indicators Project (view online) (view PDF)

Creating Custom Maps with the MetroBoston DataCommon, Session 1 (Computer Lab) (W11a, Category 1)

Learn how to conduct research and create custom maps using the MetroBoston DataCommon.

%li Susan Brunton, MAPC Data Services Department (view PDF) (view handout)

Creating Custom Maps with the MetroBoston DataCommon, Session 2 (Computer Lab) (W11b, Category 1)

Learn how to conduct research and create custom maps using the MetroBoston DataCommon. (Category 1)

%li Aditi Mehta, The Boston Indicators Project (view PDF) (view handout)

Use and Misuse of Labor Market Data (W12, Category 2)

Learn about how to identify and use labor market data.

%li Joe McLaughlin, Senior Research Associate, Center for Labor Market Studies, Northeastern University

Finding Detailed Information and Custom Reports Using Census American FactFinder Tool (Computer Lab) (W15, Category 2)

Explore how to create custom reports, find timely data, and more from the U.S. Census Bureau's FactFinder website.

%li Arthur Bakis, U.S. Census Bureau (view online) (view PDF) (view handout)

Using Data to Engage Youth in their Neighborhoods (W16, Category 2) (view online)

Come learn about cool tools and projects that engage youth in their community through data collection, analysis, and communication. (Category 2)

%li Leo Burd, Department of Play and MIT Center for Civic Media
%li Danielle Martin, Intel Computer Clubhouse

Assessing Health Risks and Using Health Data about Your Neighborhood (W16, Category 2)

An introduction to assessment tools and methodologies for understanding local food environment, walkability, and more.

%li Peter James, Doctoral Student at Harvard University School of Public Health (view online) (view PDF)

