:javascript

$(document).on('ready', function () {

  var map     = L.map('map', {scrollWheelZoom: false}).setView([42.3580, -71.0616], 8),
      tiles   = L.tileLayer("http://tiles.mapc.org/basemap/{z}/{x}/{y}.png", {
        attribution: 'Tiles by <a href="http://www.mapc.org/" target="_blank">Metropolitan Area Planning Council</a>.',
        maxZoom:      17
  }).addTo(map),
      geojson = JSON.parse(#{geography.to_geojson}),
      geojlyr = L.geoJson(geojson).addTo(map);


  map.fitBounds(geojlyr.getBounds());

  $('#area-select').on('change', function () {
    var url = $( this ).val(); // get selected value
    if (url) { // require a URL
      window.location = "/snapshots/" + url; // redirect
    }
    return false;
  });
});