.col-md-4.col-sm-6.col-xs-12.center.snapshot-preview
  .snapshot-preview-title=link_to topic.topic.title, eval("#{@s.area_type_name}_topic_path(@s.geography, topic.topic)")
  = render partial: 'visualizations/preview', object: topic.visual, as: :vis
