-# Renders the topic title, the preview of the first dynamic visualization
-# belonging to the topic, then the link to the topic detail page.
-# TODO: .col-md-4 may not meet the needs of .subregion

.col-md-4.col-sm-6.col-xs-12
  .snapshot{class: @geography.type}
    -# TODO write .snapshot > .title to be 
    .topic.title
      = link_to snapshot_topic_path(@geography, topic) do
        %h4
          = topic
          %span.small view all
          -#= @geography

    - visual = topic.dynamic_visualizations.first || DynamicVisualization.firstifif
    = render partial: 'visualizations/preview', object: visual, as: :visual