%h4 #{topic}
%p.small Remember you have a reference to #{@geography}.

-# = render partial: 'snapshots/topic', object: @geography

-# - if @s.area_type_name == 'municipality'
-#   .col-md-4.col-sm-6.col-xs-12
-#     .snapshot.municipality
-#       .snapshot-preview-title.center
-#         =link_to eval("#{@s.area_type_name}_topic_path(@s.geography, topic.topic)") do
-#           = topic.topic.title
-#           %br
-#           .small (View All)
-#       = render partial: 'visualizations/preview', object: topic.visual, as: :vis
-# - else
-#   .col-xs-12.center.snapshot-preview
-#     .snapshot-preview-title
-#       = link_to topic.topic.title, eval("#{@s.area_type_name}_topic_path(@s.geography, topic.topic)")
-#     = render partial: 'visualizations/preview', object: topic.visual, as: :vis