- @snap = @snapshot

%h1= link_to "< #{@snap.geography}", snapshot_path(@snap.geography)
%h1= @snap.topic

-#   Maybe a TODO
-# Partials don't fully work because visualizations/preview is not
-# contained by a div. There's a way to refactor it so you pass
-# in the snapshot's topic header but it's not worth my time right now.
-#      i.e. locals: { extra_header: topic } > gets rendered as a H4

.row
  - @snap.visuals.each do |visual|
    - if @snap.type == 'municipality'
      .col-md-4.col-sm-6.col-xs-12
    - elsif @snap.type == 'subregion'
      .col-xs-12
        .snapshot{class: @snap.type}
          = render partial: 'visualizations/preview', object: visual, as: :visual, locals: { geography: @snap.geography }

:javascript

  $(document).on('ready', function () {

    $('.visual img').each( function() {
      // Create a Visual from the DOM element
      visual = new Visual( $(this).attr('id'), '', '/snapshots', 'xml', 'geography=' + getLikelyId(2) );
      Visuals[visual.id] = visual; // Add the new Visual to the 'model'
    });
  })