%h1 Community Snapshots
%h3.page-header Regional Trends and Current Conditions

.break

.row
  .col-sm-5.col-xs-12
    = render partial: 'select', locals: {selected: nil}

  .col-md-5.col-sm-6.col-xs-12
    %h5 What are Community Snapshots?
    %p
      Community Snapshots are a quick and easy way to access basic information about a community. The snapshots pull together a wide range of data on each community, and are a great place to start investigating what data we have available.