%h1 Data Catalog
%h2.page-header Search for data layers that fit your needs. Includes rich metadata.

%p
  You are viewing
  %strong All Topics
  and
  %strong All Data Sources.

%h4
  The DataCommon is presently in Beta. During the Beta stage, the Data Catalog features only a small sample of our 300+ datasets.

= render @layers

.row.center
  = paginate @layers