%h1 Data Catalog
%h2.page-header Search for datasets that fit your needs, then download the data and metadata.

%p
  You are viewing
  %strong All Topics
  and
  %strong All Data Sources.

= render partial: 'datasets/dataset', collection: @datasets.records

.row.center
  = paginate @datasets