%h1 Data Catalogue
%h2.page-header Search for data layers that fit your needs. Includes rich metadata.

%p
  You are viewing
  %strong All Topics
  and
  %strong All Data Sources.

= render @layers

.row.center
  = paginate @layers