---
http_interactions:
- request:
    method: get
    uri: http://demo.ckan.org/api/3/action/package_search?rows=5&start=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"help": "\n    Searches for packages satisfying a given search criteria.\n\n    This
        action accepts solr search query parameters (details below), and\n    returns
        a dictionary of results, including dictized datasets that match\n    the search
        criteria, a search count and also facet information.\n\n    **Solr Parameters:**\n\n    For
        more in depth treatment of each paramter, please read the `Solr\n    Documentation
        <http://wiki.apache.org/solr/CommonQueryParameters>`_.\n\n    This action
        accepts a *subset* of solr''s search query parameters:\n\n\n    :param q:
        the solr query.  Optional.  Default: `\"*:*\"`\n    :type q: string\n    :param
        fq: any filter queries to apply.  Note: `+site_id:{ckan_site_id}`\n        is
        added to this string prior to the query being executed.\n    :type fq: string\n    :param
        sort: sorting of the search results.  Optional.  Default:\n        ''relevance
        asc, metadata_modified desc''.  As per the solr\n        documentation, this
        is a comma-separated string of field names and\n        sort-orderings.\n    :type
        sort: string\n    :param rows: the number of matching rows to return.\n    :type
        rows: int\n    :param start: the offset in the complete result for where the
        set of\n        returned datasets should begin.\n    :type start: int\n    :param
        facet: whether to enable faceted results.  Default: \"true\".\n    :type facet:
        string\n    :param facet.mincount: the minimum counts for facet fields should
        be\n        included in the results.\n    :type facet.mincount: int\n    :param
        facet.limit: the maximum number of values the facet fields return.\n        A
        negative value means unlimited. This can be set instance-wide with\n        the
        :ref:`search.facets.limit` config option. Default is 50.\n    :type facet.limit:
        int\n    :param facet.field: the fields to facet upon.  Default empty.  If
        empty,\n        then the returned facet information is empty.\n    :type facet.field:
        list of strings\n\n\n    The following advanced Solr parameters are supported
        as well. Note that\n    some of these are only available on particular Solr
        versions. See Solr''s\n    `dismax`_ and `edismax`_ documentation for further
        details on them:\n\n    ``qf``, ``wt``, ``bf``, ``boost``, ``tie``, ``defType``,
        ``mm``\n\n\n    .. _dismax: http://wiki.apache.org/solr/DisMaxQParserPlugin\n    ..
        _edismax: http://wiki.apache.org/solr/ExtendedDisMax\n\n\n    **Results:**\n\n    The
        result of this action is a dict with the following keys:\n\n    :rtype: A
        dictionary with the following keys\n    :param count: the number of results
        found.  Note, this is the total number\n        of results found, not the
        total number of results returned (which is\n        affected by limit and
        row parameters used in the input).\n    :type count: int\n    :param results:
        ordered list of datasets matching the query, where the\n        ordering defined
        by the sort parameter used in the query.\n    :type results: list of dictized
        datasets.\n    :param facets: DEPRECATED.  Aggregated information about facet
        counts.\n    :type facets: DEPRECATED dict\n    :param search_facets: aggregated
        information about facet counts.  The outer\n        dict is keyed by the facet
        field name (as used in the search query).\n        Each entry of the outer
        dict is itself a dict, with a \"title\" key, and\n        an \"items\" key.  The
        \"items\" key''s value is a list of dicts, each with\n        \"count\", \"display_name\"
        and \"name\" entries.  The display_name is a\n        form of the name that
        can be used in titles.\n    :type search_facets: nested dict of dicts.\n    :param
        use_default_schema: use default package schema instead of\n        a custom
        schema defined with an IDatasetForm plugin (default: False)\n    :type use_default_schema:
        bool\n\n    An example result: ::\n\n     {''count'': 2,\n      ''results'':
        [ { <snip> }, { <snip> }],\n      ''search_facets'': {u''tags'': {''items'':
        [{''count'': 1,\n                                             ''display_name'':
        u''tolstoy'',\n                                             ''name'': u''tolstoy''},\n                                            {''count'':
        2,\n                                             ''display_name'': u''russian'',\n                                             ''name'':
        u''russian''}\n                                           ]\n                                 }\n                       }\n     }\n\n    **Limitations:**\n\n    The
        full solr query language is not exposed, including.\n\n    fl\n        The
        parameter that controls which fields are returned in the solr\n        query
        cannot be changed.  CKAN always returns the matched datasets as\n        dictionary
        objects.\n    ", "success": true, "result": {"count": 1060, "sort": "score
        desc, metadata_modified desc", "facets": {}, "results": [{"license_title":
        "GNU Free Documentation License", "maintainer": "", "relationships_as_object":
        [], "private": false, "maintainer_email": "", "revision_timestamp": "2015-03-19T19:39:13.199411",
        "id": "6a7c0047-8cab-4575-adb2-80ac0add39de", "metadata_created": "2015-03-19T19:35:32.009439",
        "metadata_modified": "2015-03-19T19:50:25.137157", "author": "", "author_email":
        "", "state": "active", "version": "", "creator_user_id": "c9cd5a7f-3c7e-4b60-a40e-50db2e578370",
        "type": "dataset", "resources": [{"resource_group_id": "2462903f-8a1b-434a-8a20-5503cf313d1a",
        "cache_last_updated": null, "revision_timestamp": "2015-03-19T19:50:25.135650",
        "webstore_last_updated": "2015-03-19T19:48:14.665887", "id": "804b9492-d87c-4e6d-a06f-1099462bf9a8",
        "size": null, "state": "active", "hash": "13402bcada24b8670193ea31007f4842",
        "description": "Kvadratick\u00e1 funkce", "format": "CSV", "tracking_summary":
        {"total": 0, "recent": 0}, "last_modified": null, "url_type": "upload", "mimetype":
        null, "cache_url": null, "name": "Kvadratick\u00e1 funkce", "created": "2015-03-19T19:44:48.791806",
        "url": "http://demo.ckan.org/dataset/6a7c0047-8cab-4575-adb2-80ac0add39de/resource/804b9492-d87c-4e6d-a06f-1099462bf9a8/download/math1.csv",
        "webstore_url": "active", "mimetype_inner": null, "position": 0, "revision_id":
        "0e2d1433-610d-4217-9248-802d9f6a7df5", "resource_type": null}, {"resource_group_id":
        "2462903f-8a1b-434a-8a20-5503cf313d1a", "cache_last_updated": null, "revision_timestamp":
        "2015-03-19T19:50:25.135650", "webstore_last_updated": null, "id": "25b0809a-3c25-437f-964b-c749da35f291",
        "size": null, "state": "active", "hash": "", "description": "Kvadratick\u00e1
        funkce 2", "format": "CSV", "tracking_summary": {"total": 0, "recent": 0},
        "last_modified": null, "url_type": "upload", "mimetype": null, "cache_url":
        null, "name": "Kvadratick\u00e1 funkce 2", "created": "2015-03-19T19:50:25.172675",
        "url": "http://demo.ckan.org/dataset/6a7c0047-8cab-4575-adb2-80ac0add39de/resource/25b0809a-3c25-437f-964b-c749da35f291/download/math1.csv",
        "webstore_url": null, "mimetype_inner": null, "position": 1, "revision_id":
        "0e2d1433-610d-4217-9248-802d9f6a7df5", "resource_type": null}], "num_resources":
        2, "tags": [{"vocabulary_id": null, "display_name": "municipality", "name":
        "municipality", "revision_timestamp": "2015-03-19T19:35:32.009439", "state":
        "active", "id": "582921da-dac5-4cdf-9650-570faad7693e"}], "tracking_summary":
        {"total": 0, "recent": 0}, "groups": [], "license_id": "gfdl", "relationships_as_subject":
        [], "num_tags": 1, "organization": null, "name": "prague-test", "isopen":
        true, "url": "", "notes": "Test dataset for Prague city.", "owner_org": null,
        "extras": [{"key": "state", "value": "beta"}], "license_url": "http://www.opendefinition.org/licenses/gfdl",
        "title": "Prague test", "revision_id": "908c6006-f531-45ca-97e7-24abc18f7f23"},
        {"license_title": "License Not Specified", "maintainer": "", "relationships_as_object":
        [], "private": false, "maintainer_email": "", "revision_timestamp": "2015-03-19T15:03:51.209792",
        "id": "406c81ee-772f-43b2-8e7d-1d26f39f03d9", "metadata_created": "2015-03-19T15:03:10.530635",
        "metadata_modified": "2015-03-19T15:03:51.211298", "author": "", "author_email":
        "", "state": "active", "v[...]
- request:
    method: get
    uri: http://demo.ckan.org/api/3/action/package_list
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"help": "Return a list of the names of the site''s datasets (packages).\n\n    :param
        limit: if given, the list of datasets will be broken into pages of\n        at
        most ``limit`` datasets per page and only one page will be returned\n        at
        a time (optional)\n    :type limit: int\n    :param offset: when ``limit``
        is given, the offset to start returning packages from\n    :type offset: int\n\n    :rtype:
        list of strings\n\n    ", "success": true, "result": ["01", "03fc564a07f7c3bcce4fd5d01cb4ca24",
        "05313fa4-bb70-46b5-867d-d33e6bc917b5", "103[...]
