/*  Global: DataCommon brand fonts   */


$dc-h1:   'Oswald',  sans-serif;  // TODO: May want to order
$dc-h2:   'Roboto',  sans-serif;  // serif, sans-serif differently,
$dc-h3:   'Oswald',  sans-serif;
$dc-h4:   'Rokkitt', serif;
$dc-h5:   'Oswald',  sans-serif;
$dc-body: 'Roboto',  sans-serif;