/*

    Global: Header / navbar
    
    - Brand / logo
    - Dropdowns
    - Search bar

*/

@import "global/sizes";
@import "global/colors";

#header {
  background-color: $dc-blue;
}

// Override Bootstrap margin

.navbar {
  margin-bottom: 0px !important; 
}

.navbar {
  margin-bottom: 0px !important; 
}

// End override

.navbar-nav > li > a {
  letter-spacing: 0.03em;
  color: #EEE !important;

  &:hover {
    color: #FFF !important;
  }
}

a.dropdown-toggle {
  background-color: $dc-blue !important;
  border-color:     $dc-blue !important;
}

.dropdown:hover .dropdown-menu {
  @media (min-width: $screen-md) {
    display: block;
  }
}

.navbar-brand > img {
  position: relative;
  top: -15px;
}

#btn-signup {
  // color: white !important;
  font-weight: 600;
  padding:  5px 15px;
  margin:  10px  0;
  &:hover { 
    background-color: $education !important;
    border-color:     $education !important;
  }
}

input#search {
  // Extra small and small are collapsed -- full size
  // Medium is shrunk
  @media (min-width: $screen-md) {
    max-width: 72px;
  }
  @media (min-width: 1030px) {
    max-width: 110px;
  }
  // Large and above are expanded
  @media (min-width: $screen-lg) {
    max-width: 195px;
  }
}

