/*

  Sometimes hacky fixes are necessary.

  They go here.

  Inspired by: http://csswizardry.com/2013/04/shame-css/

*/

.spaced { 
  display: inline-block;
  margin: 0 35px;
}

/*

Trying to get all labels before required elements
to display some kind of content.

*/

label:before + input[required="required"] {
  content: "*";
  margin-left:  10px;
  margin-right: 10px
}