// custom.css.scss

@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700|PT+Serif:400,700);
@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,300italic,700,900,400italic);
@import url(http://fonts.googleapis.com/css?family=Rokkitt:400,700);
@import url(http://fonts.googleapis.com/css?family=Oswald:400,700,300);

// TOPIC ICON STYLESHEET

@import "fonticon";

// Topic colors (from Regional Indicators)

$arts-culture:              #000066;
$civic-vitality-governance: #006699;
$demographics:              #660066;
$economy:                   #00BFAC;
$education:                 #46AD24;
$environment-energy:        #91E248;
$geographic-boundaries:     #999999;
$housing:                   #FFEE2C;
$land-use-zoning:           #FFCC00;
$public-health:             #FF9900;
$public-safety:             #FF6633;
$technology:                #CC3300;
$transportation:            #990033;

// DataCommon brand colors

$dc-blue:                   #556C98;
$dc-green:                  #7ac142; //#BDD431;//

// Fonts

$dc-h1: 'Oswald', sans-serif;
$dc-h2: 'Roboto', sans-serif;
$dc-h3: 'Oswald', sans-serif;
$dc-h4: 'Rokkitt', serif;
$dc-h5: 'Oswald', sans-serif;
$dc-body: 'Roboto', sans-serif;

body {
  padding-top: 70px;
  overflow-x:  hidden;
  font-family: $dc-body !important;
  font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
}

h1 {
  font-family: $dc-h1 !important;
  font-size: 2em !important;
  font-weight: 700 !important;
  text-transform: uppercase !important;
  color: $dc-blue !important;
  padding-top: 20px;
}

h2.page-header {
  color: $dc-blue;
  font-family: $dc-h2;
  font-size:    1.5em;
  font-weight: 300;
  margin-top:    20px;
  margin-bottom: 10px;
}

h3 {
  color: $dc-blue;
  font-family: $dc-h3;
}

h3 a {
  padding-top: 20px;
  color: #556c98;
  font-family: "Rokkitt", serif;
  font-size: 1.2em;
}

h4 {
  padding-top: 20px;
  color: $dc-blue;
  font-family: $dc-h4;
  font-size:    1.5em;

}

h5 {
  color: $dc-blue;
  font-family: $dc-h5;
}

h5.center {
  color: $dc-blue;
  font-family: $dc-h5;
  font-weight: 700;
  font-size: 1.3em;
  text-transform: uppercase;
}

p a {
  color: $dc-blue;
  font-weight: 400;
}

p.vis-title {
  color: $dc-blue;
  font-family: $dc-h4;
  font-size: 1.2em !important;
}

.beta {
  position: absolute;
  top:  15px;
  left: 20px;
  font-weight: 700;
  font-size: 1.1em;
  color: $dc-green;
  text-shadow: -3px -3px $dc-blue,
                3px -3px $dc-blue,
               -3px 3px $dc-blue,
                3px 3px $dc-blue;
  border-radius: 2px;
  z-index: 10;

}

.center {
  text-align: center;
}

.alert {
  margin-bottom: -10px;
}

.navbar-nav {
  background-color: $dc-blue;
  // overflow: hidden;
  // overflow-wrap: none;
}


a.dropdown-toggle {
  font-weight: 300;
  color: white !important;
  background-color: $dc-blue !important;
}

.header-item {
  margin-top: 15px;
}

.header-item a {
  color: white !important;
}



.navbar {
  height: 80px;
}

.navbar-brand {
  padding: 0;
  margin:  0;
  img {
    max-width: 225px;
  }
}

.navbar-nav {
  font-size: 12px;
  font-weight: 300;

  @media (max-width: 1200px) {
    font-size: 11px;
  }
}

@media (min-width: 993px) {
  .dropdown:hover .dropdown-menu {
    display: block;
  }
}

.navbar.navbar-default.navbar-fixed-top {
  background-color: $dc-blue;
  border-color: transparent;
}

input#search {

  @media (max-width: 1200px) {
    width: 67px;
  }
}

img.header-logo {
  margin-top: 0px;
  height: inherit;
}


.carousel {
  margin-top: -20px;
  max-height: 475px;
  font-family: 'Oswald', sans-serif;
}

// .carousel-inner > .item > img {
//   max-width: none !important;
// }

.item {
  max-height: 475px;
  overflow-y: hidden;
  overflow-x: hidden;
  background: #777;
}

.item img {
  position:   relative;
  display:    block;
  width: 120%;
  min-height: 475px;
  min-width: 900px;
  max-width:  2100px;
  bottom: 500px;

  @media (max-width: 992px) {
    bottom: 0;
  }

  @media (max-width: 1500px) {
    bottom: 200px;
  }

  // -webkit-filter: blur(3px);
  // -moz-filter:    blur(3px);
  // -ms-filter:     blur(3px);
  // -o-filter:      blur(3px);
  // filter:         blur(3px);
  opacity: 0.7;

}

.carousel-caption {
  text-align: left !important;
  color: #FFF !important;
  font-size: 1.05em;
  letter-spacing: 0.7px;
  top: -120px;
  margin-top:    10%;
  margin-bottom: 10%;
  text-shadow: 0px 0px 4px #000 !important;
  height: 400px;
  @media (max-width: 700px) {
    overflow-y: scroll;
  }
  opacity: 1;
  p {
    font-family: $dc-body;
    font-weight: 400;
    font-size: 1.3em;
  }
  a {
    // text-shadow: none;
    color: #EEF;
    text-decoration: underline;
    &:hover {
      color: #FFF;
      text-decoration: none;
    }
  }
}

.carousel-caption h3 {
    font-size: 2.5em;
  }

.carousel-caption h4 {
    font-size: 2em;
    padding-bottom: 10px;
  }

.featured {
  color: #FFFFFF;
  a a:hover a:visited {
    color: #FFFFFF;
  }
}

.featured-text {
  background:     rgba(0,0,0,0.5);
  padding-top:    20px;
  padding-bottom: 30px;
}

img.feature {
  width:  100%;
  height: auto;
  padding-bottom: 10px;
}


.vis-main {
  img {
    width: 100%;
    max-width: 100%;
  }
}

.vis-sidebar {
  padding-top: 80px;
}

.vis-abstract {
  display:   block;
  min-height: 40px;
}

// FEATURED VIZUALIZATION //
div.col-xs-10.col-xs-offset-1 {
  width: 1170px;
  margin: 0px
}

div.col-md-7.col-md-offset-1.col-sm-12 {
  margin: 0px;
}

// TOPIC LIST //

div.col-md-3.col-md-offset-0.col-sm-8.col-sm-offset-2 {
  width: 300px;
}



a.list-group-item {
  font-family: rokkitt;
  font-size: 1.2em;
  text-align: left;
  padding-top: 6.5px;
}

div .list-group-item {
  border-color: transparent;
  display: inline-block;
  padding-left: 5px;
}



.icon-demographics{
  background-color: $demographics;
  color: white;
}
.icon-arts-culture{
  background-color: $arts-culture;
  color: white;
}
.icon-civic-vitality{
  background-color: $civic-vitality-governance;
  color: white;
}
.icon-economy{
  background-color: $economy;
  color: white;
}
.icon-education{
  background-color: $education;
  color: white;
}
.icon-environment-energy{
  background-color: $environment-energy;
  color: white;
}
.icon-housing{
  background-color: $housing;
  color: white;
}
.icon-land-use-zoning{
  background-color: $land-use-zoning;
  color: white;
}
.icon-public-health{
  background-color: $public-health;
  color: white;
}
.icon-public-safety{
  background-color: $public-safety;
  color: white;
}
.icon-technology{
  background-color: $technology;
  color: white;
}
.icon-transportation{
  background-color: $transportation;
  color: white;
}
.icon-geographic-boundaries{
  background-color: $geographic-boundaries;
  color: white;
}

// VISUALIZATIONS, THUMBNAILS

.vis-preview {

  margin-bottom: 30px;

  @media (max-width: 992px) {
    text-align: center;
  }

  img {
    font-size: 15px;
    max-width: 100%;
    height:    auto;
  }

  .vis-title {
    display: block;
    max-width: 100%;
    font-size: 1.1em;
    margin-top: 8px;
    margin-bottom: 0;
  }
}

#vis-new {
  border: 1px solid #DDD;
  border-top: none;
  width:  100%;
  min-height: 500px;
}


p.viewing {
  margin-top:    10px;
  margin-bottom: 40px;
}

// LAYERS

table.metadata {
  display: block;
  margin: 15px 0;
  width: 100%;

  td {
    text-align: left;
    padding: 5px 10px;
    font-weight: 400;
    font-size: 1.1em;
  }
  td:first-child {
    text-align: right;
    font-size: 1em;
  }
}

p.coverage {
  line-height: 1em;
}

// MAP GALLERY //

div.col-md-2.col-md-offset-1.col-sm-3.col-sm-offset-1.col-xs-12.col-xs-offset-0.center {
  margin: 0;
  padding: 0;
}

div.static-map-preview img {
  margin-top: 75px;
  width: 550%;
}

div.col-xs-12.static-map-preview {
  max-width: 375px;
  height: 375px;
  background-repeat: no-repeat;
  padding: 15px
}

div.col-sm-7.col-sm-offset-1.col-xs-10.col-xs-offset-1 {
  max-width: 390px;
  max-height: 375px;
  overflow: hidden;
  opacity: 1;
  position: absolute;
  top: -5px;
  left: -15px
}

div.col-sm-7.col-sm-offset-1.col-xs-10.col-xs-offset-1 h3 {
  font-family: $dc-h4;
  background-color: white;
  opacity: 0.9;
  padding: 10px;
  padding-bottom: 2px;
  margin: 0;
}

div.col-sm-7.col-sm-offset-1.col-xs-10.col-xs-offset-1 p {
  background-color: white;
  opacity: 0.9;
  padding: 10px;
  padding-top: 0;
  margin: 0;
}

div.col-sm-7.col-sm-offset-1.col-xs-10.col-xs-offset-1 p.map-abstract {
  padding: 10px;
  opacity: 0;
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  transition: opacity 500ms;
}

div.col-sm-7.col-sm-offset-1.col-xs-10.col-xs-offset-1 p.map-abstract:hover {
  background-color: white;
  padding: 10px;
  opacity: 0.9;
}

// STATIC PAGES

ul.contact {
  list-style-type: none;
  padding-top: 10px;
  font-size: 1.1em;
}

ul.none {
  list-style-type: none;
}

.padder {
  padding-top: 27px;
  margin-top: -40px;
  h4 {
    margin-top: 20px;
  }
}



// SNAPSHOTS

.snapshot.municipality {
  position: relative;
  height: 350px;
  margin-top: 50px;
  padding: 0 0 40px 0;
  text-align: center;
}
.snapshot.subregion {
  width:  880px;
  height: 460px;
}

p.sources {
  margin-left: 30px;
  text-align: left;
}

.snapshot-vis {
  width: 333px;
  height: 255px;
  // padding-bottom: -5px;
}

// .snapshot-preview {
//   margin: 20px 0px;
//   padding: 0px;
// }

// .snapshot-preview-title {
//   font-size: 1.3em;
//   margin-top: 30px;
//   margin-bottom: 10px;
// }


ul.chosen-results {
  text-align: left;
}

#map {
  width:        100%;
  min-height:   340px;
  margin:       15px 0;
}

.snapshot-preview {
  margin: 20px 0px;
}

.snapshot-preview-title {
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  margin-bottom: 15px;
  display: block;
  float: left;
}

.snapshot-preview {
  a { font-size: 1.5em; }
}

// USER PROFILES

.profile {
  img { margin-top:    23px; }

  h5  {
    margin-top:    60px;
    margin-bottom:  6px;
  }

  p   {
    margin-bottom:  6px;
  }
}

//  FOOTER

hr {
  border-color: transparent !important;
}

.frame {
  height: 120px;      /* equals max image height */
  width:  160px;
  // border: 1px solid red;
  white-space: nowrap;
  text-align: center; margin: 1em 0;
}

.helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

img.aligner {
  background: #FFFFFF;
  vertical-align: middle;
  max-height: 120px;
  max-width:  160px;
}

.footer .row-upper  {
  background-color: $dc-blue;
  padding: 10px;
}

.footer .row-lower {
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
}

.footer ul{
  color: white;
  list-style: none;
  margin-left: -40px;
  }
.footer ul a{
  color: white;
  font-weight: 300
  }

.footer h5 {
  color: $dc-green;
  font-family: $dc-h5;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.2em;
  letter-spacing: 0.5px;
  }

.footer .row .col-xs-12 p a {
  font-family: roboto;
  font-weight: 300;
  padding: 15px;
}

// img.bottom {
//   position: relative;
//   margin: auto 0;
//   max-height: 100px;
// }


.arts-culture              { background: $arts-culture              }
.civic-vitality-governance { background: $civic-vitality-governance }
.demographics              { background: $demographics              }
.economy                   { background: $economy                   }
.education                 { background: $education                 }
.environment-energy        { background: $environment-energy        }
.geographic-boundaries     { background: $geographic-boundaries     }
.housing                   { background: $housing                   }
.land-use-zoning           { background: $land-use-zoning           }
.public-health             { background: $public-health             }
.public-safety             { background: $public-safety             }
.technology                { background: $technology                }
.transportation            { background: $transportation            }