// custom.css.scss

@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700|PT+Serif:400,700);


// Topic colors (from Regional Indicators)

$arts-culture:              #FFCC00;
$civic-vitality-governance: #00CCCC;
$demographics:              #660066;
$economy:                   #3A8F1D;
$education:                 #006699;
$environment-energy:        #91E248;
$geographic-boundaries:     #999999;
$housing:                   #FF9900;
$land-use-zoning:           #FFEE2C;
$public-health:             #CC3300;
$public-safety:             #990033;
$technology:                #000066;
$transportation:            #FF6633;



body {
  padding-top: 70px;
  overflow-x:  hidden;
  font-family: 'PT Sans', sans-serif !important;
}

h1, h2, h3, h4, h5, h6 {
}

h1 {
  font-size: 2em !important;
}

h2.page-header {
  color: #AAAAAA;
  font-size:    1.3em;
  margin-top:    20px;
  margin-bottom: 30px;
}

h3 {
  font-family: 'PT Serif', serif !important;
}

h4 {
  padding-top: 20px;
}

.center {
  text-align: center;
}

.alert {
  margin-bottom: -10px;
}

// .navbar-nav {
//   overflow: hidden;
//   overflow-wrap: none;
// }

a.dropdown-toggle {
  font-weight: 700;
}

.navbar {
  /* height: 70px; */
}

.navbar-brand {
  padding: 0;
  margin: 0;
}

.navbar-nav {
  font-size: 14px;

  @media (max-width: 1200px) {
    font-size: 12px;
  }
  
}

input#search {

  @media (max-width: 1200px) {
    width: 67px;
  }
}

img.header-logo {
  margin-top: -15px;
  height: inherit;
}


.carousel {
  margin-top: -20px;
  height: auto;
}

.carousel-inner > .item > img {
  max-width: none !important;
}


.item img {
  height:     auto;
  min-height: 475px;
}

.carousel-caption {
  text-align: left !important;
  top: -50px;
  margin-top:    10%;
  margin-bottom: 10%;
  text-shadow: 2px 2px 3px #000000;
}



.featured {
  color: #FFFFFF;
  a a:hover a:visited {
    color: #FFFFFF;
  }
}

.featured-text {
  background:     rgba(0,0,0,0.5);
  padding-top:    20px;
  padding-bottom: 30px;
}

img.feature {
  width:  100%;
  height: auto;
}


.vis-main {

}

.vis-sidebar {
  padding-top: 80px;
}

.vis-abstract {
  display:   block;
  height:     40px;
  min-height: 40px;
}

.vis-preview {

  margin-bottom: 30px;

  img {
    font-size: 15px;
    text-align: center;
    // display: block;
    // position: relative;
    // margin: 0 auto;
    width:   220px;
    height:  165px;
  }

  .vis-title {
    display: block;
    max-width: 220px;
    font-size: 1.1em;
    margin-top: 8px;
    margin-bottom: 0;
  }
}

#vis-new {
  border: 1px solid #DDD;
  border-top: none;
  width:  100%;
  min-height: 500px;
}


p.viewing {
  margin-top:    10px;
  margin-bottom: 40px;
}

// LAYERS

table.metadata {
  display: block;
  margin: 15px 0;
}

// STATIC PAGES

ul.contact {
  list-style-type: none;
  padding-top: 10px;
  font-size: 1.1em;
}

ul.none {
  list-style-type: none;
}

.padder {
  padding-top: 27px;
  margin-top: -40px;
  h4 {
    margin-top: 20px;
  }
}



// SNAPSHOTS

.area-summary {
  padding: 20px 0;
}

div.static-map-preview {
  padding: 20px 0;
  img {
    padding:        20px 0;
    max-width:     200px;
    max-height:    200px;
  }
}


ul.chosen-results {
  text-align: left;
}

#map {
  width:        100%;
  min-height:   200px;
  margin:       15px 0;
}

.snapshot-preview {
  margin: 20px 0px;
}

.snapshot-preview-title {
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  display: block;
  float: left;
}

.snapshot-preview {
  a { font-size: 1.5em; }
}

.snapshot-vis {
  width:  350px;
  height: auto;
}


// USER PROFILES

.profile {
  img { margin-top:    23px; }

  h5  {
    margin-top:    60px;
    margin-bottom:  6px;
  }
  
  p   {
    margin-bottom:  6px;
  }


}

//  FOOTER


img.bottom {
  position: relative;
  margin: 60px 0;
}


.arts-culture              { background: $arts-culture              }
.civic-vitality-governance { background: $civic-vitality-governance }
.demographics              { background: $demographics              }
.economy                   { background: $economy                   }
.education                 { background: $education                 }
.environment-energy        { background: $environment-energy        }
.geographic-boundaries     { background: $geographic-boundaries     }
.housing                   { background: $housing                   }
.land-use-zoning           { background: $land-use-zoning           }
.public-health             { background: $public-health             }
.public-safety             { background: $public-safety             }
.technology                { background: $technology                }
.transportation            { background: $transportation            }