// Custom stylesheet for the DataCommon

@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700|PT+Serif:400,700);
@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,300italic,700,900,400italic);
@import url(http://fonts.googleapis.com/css?family=Rokkitt:400,700);
@import url(http://fonts.googleapis.com/css?family=Oswald:400,700,300);

@import "fonticon"; // Import fonticon.css.scss, which imports the icon font


/*

    Global (Application-wide styles)

    - DataCommon brand colors
    - DataCommon brand fonts
    - Topic colors
    - Headers

*/

@import "global/colors";
@import "global/fonts";
@import "global/headers";   // i.e. h1, h2
@import "global/alerts";    // for error messages / flash
@import "global/header";    // i.e. styles for _header navbar


/*  Global: Body             */

body {
  padding-top: 41px;
  overflow-x:  hidden;
  font-family: $dc-body !important;
  font-weight: 300;
}

.push {
  display: block;
  height:  410px;
}


p a {
  color: $dc-blue;
  font-weight: 400;
}

p.vis-title {
  color: $dc-blue;
  font-family: $dc-h4;
  font-size: 1.2em !important;
}

.center {
  text-align: center;
}

/* FLASH */

a > .glyphicon-remove {
  color: #666666;
  text-decoration: none;
  margin: 0 8px; 
  
  &:hover {
    color: #333333;
    text-decoration: none;
  }
}

.left  { float: left; }
.right { float: right; }

.no-class { }

.alert {
  margin-top: 10px; 
  margin-bottom: -10px !important;
  ul {
    position: relative;
    left:     30px;
    
    li {
      position: inherit;
      left:     inherit;
    
      &:first-child { 
        list-style-type: none;
        left: 0px;
      }
    }
  }
}

/* VALIDATION FORM ERRORS */

label.error { 
  color: #AA0000;
}

input.error, textarea.error, select.error {
  border: 2px solid #AA0000;
}

label.valid {
  color: #00AA00;
}

input.valid, textarea.valid, select.valid {
  border: 2px solid #00AA00;
}


/*     HERO     */

.carousel {
  margin-top: -20px;
  max-height: 475px;
  font-family: 'Oswald', sans-serif;
}

.geography-selector {
  text-align: center;
  padding: 20px 0 30px 0;
}

// .carousel-inner > .item > img {
//   max-width: none !important;
// }

.item {
  max-height: 475px;
  overflow-y: hidden;
  overflow-x: hidden;
  background: #777;
}

.item img {
  position:   relative;
  display:    block;
  width: 120%;
  min-height: 475px;
  min-width: 900px;
  max-width:  2100px;
  bottom: 500px;

  @media (max-width: 992px) {
    bottom: 0;
  }

  @media (max-width: 1500px) {
    bottom: 200px;
  }

  // -webkit-filter: blur(3px);
  // -moz-filter:    blur(3px);
  // -ms-filter:     blur(3px);
  // -o-filter:      blur(3px);
  // filter:         blur(3px);
  opacity: 0.7;

}

.carousel-caption {
  text-align: left !important;
  color: #FFF !important;
  font-size: 1.05em;
  letter-spacing: 0.7px;
  top: -120px;
  margin-top:    10%;
  margin-bottom: 10%;
  text-shadow: 0px 0px 4px #000 !important;
  height: 400px;
  @media (max-width: 700px) {
    overflow-y: scroll;
  }
  opacity: 1;
  p {
    font-family: $dc-body;
    font-weight: 400;
    font-size: 1.3em;
  }
  a {
    // text-shadow: none;
    color: #EEF;
    text-decoration: underline;
    &:hover {
      color: #FFF;
      text-decoration: none;
    }
  }
}

.carousel-caption h3 {
    font-size: 2.5em;
  }

.carousel-caption h4 {
    font-size: 2em;
    padding-bottom: 10px;
  }

@import "front/hero";
@import "front/explanations";
@import "front/featured";
@import "global/topics";
@import "visualization/all";

// LAYERS

table.metadata {
  display: block;
  margin: 15px 0;
  width: 100%;

  td {
    text-align: left;
    padding: 5px 10px;
    font-weight: 400;
    font-size: 1.1em;
  }
  td:first-child {
    text-align: right;
    font-size: 1em;
  }
  td.left {
    text-align: left;
  }
}

p.coverage {
  line-height: 1em;
}


@import "global/preview";

// STATIC PAGES

ul.contact {
  list-style-type: none;
  padding-top: 10px;
  font-size: 1.1em;
}

ul.none {
  list-style-type: none;
}

.padder {
  padding-top: 27px;
  margin-top: -40px;
  h4 {
    margin-top: 20px;
  }
}


// FORMS

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

.danger { 
  padding-left: 20px;
  color: #FF6633;    // $public-safety
  &:hover {
    color: #FF6633;  // $public-safety
  }
}


ul.caption {
  list-style:     none;
  
  text-align:     right;
  font-size:      90%;
  color:          #777;
  font-weight:    400;
  letter-spacing: 0.02em;
  
  margin-top:      5px;
  padding-right:  40px;
}

p.sources {
  margin-left: 30px;
  text-align: left;
}

.visual.preview {

  &.municipality {
    min-width:  333px;
    min-height: 252px;
  }

  &.subregion {
    width:  880px;
    height: 450px;
  }

  img, object {
    display: block;
    min-width:   inherit;
    min-height:  inherit;
    width:   inherit;
    height:  inherit;
  }
}

.snapshot > .topic.title {
  margin:  30px 0 10px 0;
}



// SNAPSHOTS



ul.chosen-results {
  text-align: left;
}

.snapshot.map {
  display:    block;
  width:      auto;
  min-height: 340px;
  margin:     40px 0;
}

.snapshot-preview {
  margin: 20px 0px;
}

.snapshot-preview-title {
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  margin-bottom: 15px;
  display: block;
  float: left;
}

.snapshot-preview {
  a { font-size: 1.5em; }
}

// USER PROFILES

.row.profile {
  padding: 30px 0;
}

.profile {
  img { margin-top:    23px; }

  h5  {
    margin-top:    60px;
    margin-bottom:  6px;
  }

  p   {
    margin-bottom:  6px;
  }
}

//  FOOTER

hr {
  border-color: transparent !important;
}

.frame {
  height: 120px;      /* equals max image height */
  width:  160px;
  // border: 1px solid red;
  white-space: nowrap;
  text-align: center; margin: 1em 0;
}

.helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

img.aligner {
  background: #FFFFFF;
  vertical-align: middle;
  max-height: 120px;
  max-width:  160px;
}

.footer {
  background-color: $dc-blue;
  margin-top: 20px;
  padding: 15px;
  
  a {
    color: #EEE;
    &:hover {
      color: #FFF;
      text-decoration: none;
    }
  }

  img.logo { 
    opacity:     0.9;
    max-width: 110px;
    &:hover { opacity: 1; }
  }

}


// Dataset

//    Dataset partial

div.meta {
  padding-top: 10px;
}

.no-padding {
  padding: 0 !important;
}

@import "global/footer";
@import "global/shame";
