@charset "UTF-8";

@font-face {
  font-family: "topics";
  src: asset-url("topics.eot");
  src: asset-url("topics.eot?#iefix") format("embedded-opentype"),
       asset-url("topics.woff")       format("woff"),
       asset-url("topics.ttf")        format("truetype"),
       asset-url("topics.svg#topics") format("svg");
  font-weight: normal;
  font-style: normal;
}

[data-icon]:before {
  font-family: "topics" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "topics" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon {
  width:          40px;
  height:         40px;
  border-radius:  50%;
  display:        inline-block;
  font-size:      1.4em;
  text-align:     center;
  vertical-align: middle;
  line-height:    50px;
  margin-left:    20px;
}

.icon-arts-culture:before {
  content: "o";
}
.icon-civic-vitality:before {
  content: "b";
}
.icon-demographics:before {
  content: "c";
}
.icon-economy:before {
  content: "d";
}
.icon-education:before {
  content: "e";
}
.icon-environment-energy:before {
  content: "f";
}
.icon-land-use-zoning:before {
  content: "g";
}
.icon-housing:before {
  content: "h";
}
.icon-public-health:before {
  content: "i";
}
.icon-public-safety:before {
  content: "j";
}
.icon-technology:before {
  content: "k";
}
.icon-transportation:before {
  content: "l";
}
