%div.footer
  
  %hr
  
  %div.row
    %div.container
      %div.row
        %div.col-xs-3.links
          %h5 About the DataCommon
          %ul
            %li=link_to 'What is the DataCommon?'
            %li=link_to 'FAQ'
            %li=link_to 'Available Tools'
            %li=link_to 'Partners'
            %li=link_to 'Contact Us'
            %li=link_to 'Social Media Icons'


        %div.col-xs-3.links
          %h5 Find Data
          %ul
            %li=link_to 'Regional Maps'
            %li=link_to 'Visualizations'
            %li=link_to 'Data Layers'
      

        %div.col-xs-3.links
          %h5 Snapshots & Profiles
          %ul
            %li=link_to 'Cities & Towns'
            %li=link_to 'Subregions'

          %h5 Do It Yourself
          %ul
            %li=link_to 'New Visualization'


        %div.col-xs-3.links
          %h5 Learning Community
          %ul
            %li=link_to 'Data Day 2013'
            %li=link_to 'Data Day 2012'
            %li=link_to 'Data Day 2009'

          %h5 Resources
          %ul
            %li=link_to 'Training Guides & Tutorials'
            %li=link_to 'Data Visualization & Mapping Resources'
            %li=link_to 'User Profiles'

  %hr
  %div.row
    %div.col-xs-12
      %center
        %p
          =link_to do
            %img{src: 'http://metrobostondatacommon.org/media/mbdc/img/logo-indicators.png', alt: 'The Boston Indicators Project'}
          =link_to do
            %img{src: 'http://www.mapc.org/sites/default/files/mapc_logo.png', alt: 'MAPC'}
          =link_to do
            %img{src: 'http://metrobostondatacommon.org/media/mbdc/img/logo-tbf.png', alt: 'The Boston Foundation'}
          

  %div.row
    %div.col-xs-12
      %center
        %p
          %a{href: 'http://bit.ly/1pWTuru', target: '_blank'}
            60 Temple Place Boston, MA 02111
          |
          %a{href: 'tel: 617-451-2770'}
            617-451-2770
          |
          %a{href: 'mailto:info@datacommon.org'}
            info@datacommon.org
